<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/assets/css/styles.css" />
</head>

<body>
    <div id="client-input"></div>
    <script src="/assets/js/client-input.js"></script>
</body>
<html>